<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>碰撞測試</title>
	<script type="text/javascript" src="{js}/jquery-1.11.2.min.js"></script>
</head>
<body>
	
	<div id="container" style="width:800px;margin: 0 auto;cursor:default;">
		<audio id="bgm" autoplay="autoplay">
		<source src="{sounds}/KONAMI - Metal Gear Solid Main Theme (1997 E3 Edit) (KCE Japan Sound Team).mp3">
		</audio>

		<audio id="fam">
		<source src="{sounds}/fangyutalianxian.mp3">
		</audio>

		<audio id="sam">
		<source src="{sounds}/se_maoudamashii_jingle06.mp3">
		</audio>

		<!-- <div>X:<span id="cx"></span> , Y:<span id="cy"></span></div>
		<div>tX:<span id="mx"></span> , tY:<span id="my"></span></div> -->
		<canvas id="cot" width="800" height="600" style="position: absolute;z-index:12;">This browser can not use canvas!</canvas>
		<canvas id="em" width="800" height="600" style="position: absolute;z-index:11;">This browser can not use canvas!</canvas>
		<canvas id="map" width="800" height="600" style="position: absolute;background:#000000;z-index:10;"></canvas>
		<div id="msg_mask_f" style="display:none;width:800px;height:600px;opacity:0.8; background:#000000;position:absolute;z-index:1;">
		<div style="line-height:600px;color:#FF0000;font-size:48px;text-align:center;"> 你是笨蛋嗎？請重新整理再試一次!!</div>
		</div>

		<div id="msg_mask_s" style="display:none;width:800px;height:600px;opacity:0.8; background:#000000;position:absolute;z-index:2;">
			<div style="line-height:600px;color:#FF0000;font-size:48px;text-align:center;">還好過了，不然就該吃屎了!</div>
		</div>
	</div>

	
</body>
<script type="text/javascript">
	var canvas;
	var c;
	var map;
	var em;
	var pos;
	var cX = 30;
	var cY = 270;
	var r = 12;
	var loopAct;
	var im = 2;
	var speed = 16; //影格速度
	var acter = new Image();
	var enemy = new Image();
	var mX;
	var mY;
	var ix;
	var iy;
	var pX = cX-r;
	var pY = cY-r;
	var back = new Image();
	var em_flag = 1;
	var eX = 176;
	var eY = 260;
	var emLoopAct;
	

	$(function(){
		
		$("#bgm")[0].volume = 0.5;
		cSpace();

		$("#cx").html(cX);
		$("#cy").html(cY);

		acter = acter_cir(cX, cY, r, "rgb(255,255,255)");

		c.clearRect(0, 0, canvas[0].width, canvas[0].height);
		em.clearRect(0, 0, canvas[0].width, canvas[0].height);
		//c.putImageData(back,0,0);
		c.putImageData(acter, cX-r, cY-r);
		em.putImageData(enemy, 200-r, 275-r);

		emLoopAct = setInterval(enemyMoveProcess, speed);


		$("#cot").click(function(e){

			clearInterval(loopAct);
			pos = getMousePos(canvas[0], e);

			mX = pos.x;
			mY = pos.y;
			$("#mx").html(mX);
			$("#my").html(mY);

			var acterMoveVal = moveVal(cX, cY, mX, mY);
			ix = acterMoveVal.ix;
			iy = acterMoveVal.iy;

			loopAct = setInterval(moveProcess, speed);
		});

	});

	var getMousePos = function(cv, e){
		var rect = cv.getBoundingClientRect();
		return {
			x: e.clientX - rect.left,//相對於Canvas左上角的X座標
			y: e.clientY - rect.top,//相對於Canvas左上角的Y座標
			rectLeft : rect.left,
			rectTop : rect.top,
			clientX : e.clientX,
			clientY : e.clientY
		}
	};

	function cSpace()
	{
		canvas = $("#cot");
		c = canvas[0].getContext("2d");

		canvas = $("#map");
		map = canvas[0].getContext("2d");

		canvas = $("#em");
		em = canvas[0].getContext("2d");

		//地圖
		this.wall(0, 0, canvas[0].width, canvas[0].height);
		this.moveArea(0, 170, 120, 200);
		this.moveArea(120, 250, 520, 70);
		this.moveArea(640, 170, 160, 200);
		this.moveArea(250, 170, 80, 80);
		this.moveArea(420, 320, 80, 80);

		//敵對目標
		enemy = this.enemy_cir(200, 275, 2*r, "rgb(255,0,0)");

		//目的地
		pur = this.purposeArea(770, 250, 20, 40);

	}

	function purposeArea(x, y, width, length)
	{
		map.fillStyle = "rgb(0,255,0)";
		map.beginPath();
		map.fillRect(x, y, width, length);
		map.closePath();
		map.fill();
	}

	function wall(x, y, width, length)
	{
		map.fillStyle = "rgb(123,123,123)";
		map.beginPath();
		map.fillRect(x, y, width, length);
		map.closePath();
		map.fill();
	}

	function moveArea(x, y, width, length)
	{
		map.fillStyle = "rgb(0,0,0)";
		map.beginPath();
		map.fillRect(x, y, width, length);
		map.closePath();
		map.fill();
	}

	function enemy_cir(x, y, r, color)
	{
		em.fillStyle = color;
		em.beginPath();
		em.arc(x, y, r, 0, Math.PI * 2, true);
		em.closePath();
		em.fill();

		return em.getImageData(x-r, y-r, 2*r, 2*r);
	}

	function acter_cir(x, y, r, color)
	{
		c.fillStyle = color;
		c.beginPath();
		c.arc(x, y, r, 0, Math.PI * 2, true);
		c.closePath();
		c.fill();

		return c.getImageData(x-r, y-r, 2*r, 2*r);
	}

	function enemyMoveProcess()
	{
		if(collideCheck(c, eX, eY, 24, 0.2, 255, 255, 255))
		{
			clearInterval(emLoopAct);
			clearInterval(loopAct);
			$("#bgm").trigger("pause");
			$("#fam").trigger("play");
			$("#msg_mask_f").show();
			$("#msg_mask_f").css("z-index", "100");

			return;
		}

		var eimX = 3.0;
		if(em_flag == 1)
		{
			if(eX >= 576)
			{
				em_flag = 0;
			}
			eX += eimX;
		}


		if(em_flag == 0)
		{
			if(eX <= 176)
			{
				em_flag = 1;
			}
			eX -= eimX;
		}

		em.clearRect(0, 0, canvas[0].width, canvas[0].height);
		em.putImageData(enemy, eX, eY);
	}

	function moveProcess()
	{
		var ocX = cX;
		var ocY = cY;

		cX += ix;
		cY += iy;

		$("#cx").html(Math.floor(cX));
		$("#cy").html(Math.floor(cY));

		if((ix > 0 && Math.floor(cX) > mX)
			|| (ix < 0 && Math.floor(cX) < mX)
			|| (iy > 0 && Math.floor(cY) > mY)
			|| (iy < 0 && Math.floor(cY) < mY))
		{
			cX -= ix;
			cY -= iy;
			clearInterval(loopAct);
		}

		pX = cX-r;
		pY = cY-r;

		if(collideCheck(map, pX, pY, 12, 0.5, 123, 123, 123))
		{
			clearInterval(loopAct);
			cX = ocX;
			cY = ocY;
			pX = cX-r;
			pY = cY-r;
		}

		if(collideCheck(map, pX, pY, 12, 0.5, 0, 255, 0))
		{
			clearInterval(loopAct);
			$("#bgm").trigger("pause");
			$("#sam").trigger("play");
			$("#msg_mask_s").show();
			$("#msg_mask_s").css("z-index","100");
		}

		c.clearRect(0, 0, canvas[0].width, canvas[0].height);
		c.putImageData(acter, pX, pY);

	}

	function moveVal(sX, sY, eX, eY)
	{
		var ma = eX - sX;
		var mb = eY - sY;

		//計算斜邊
		var ra = Math.sqrt(Math.pow(ma, 2) + Math.pow(mb, 2));

		//計算sin、cos
		imX = (ma/ra)*im;
		imY = (mb/ra)*im;

		return {ix : imX, iy : imY};
	}

	function collideCheck(targetSpace, x, y, r, range, colorR, colorG, colorB)
	{
		var checkRange = range; //偵測範圍
		var cWidth = 2*r + checkRange;
		var cHight = 2*r + checkRange;
		var cLength = cWidth*cHight;
		var colAct = targetSpace.getImageData(x, y, cWidth, cHight);

		for(var i=0; i < cLength*4; i+=4)
		{
			if(colAct.data[i] == colorR && colAct.data[i+1] == colorG && colAct.data[i+2] == colorB)
			{
				return true;
			}
		}
	}


</script>
</html>